:root {
  --dark: #252525;
  --white: #ffffff;
  --whiteSombra: #ffffff53;
  --black: #121212;
  --violet: #3a2b99;
  --Footer: url("../assets/images/FondoFooter.svg");
  --FooterPhone: url("../assets/images/FooterPhone.svg");

  --darkBlue: #05445E;
  --lightBlue: #189AB4;
  --greenBlue: #75E6DA;
  --greyBlue: #D4F1F4;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
  font-family: inter;
}

body.light {
  --background-color: var(--white);
  --text-color: var(--darkBlue);
  --homeBanner :var('./images/homeBannerPhone.png');
  --hoverBotton:  rgba(0, 0, 0, 0.071);
  --text-color-foot: var(--white);

  --colorNav:var(--white);
  --footer: var(--violet);
  --Sombrafooter: var(--black);
  
}

body.dark {
  --background-color: var(--dark);
  --text-color: var(--white);
  --homeBanner :var('./images/homeBannerPhoneDark.png');
  --hoverBotton:  rgba(255, 255, 255, 0.145);
  --text-color-foot: var(--darkBlue);

  --colorNav:var(--black);
  --footer: var(var(--black));
  --Sombrafooter: var(--whiteSombra);
}


/* BOTONES */

.btn-primary{
  background-color: rgba(255, 255, 255, 0);
  color: var(--text-color);
  border-color: var(--text-color);
}

.btn-primary:hover{
  background-color: var(--hoverBotton);
  border-color: var(--text-color);
  color: var(--text-color);
}

nav{
  box-shadow: 0px 4px 13.8px 0px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  position: fixed !important;
  width: 100%;
}

.nav-link{
  font-size: 20px;
  font-family:Inter;
  font-weight: 400;
  color:var(--darkBlue);
}

.navbar-nav{
  height: auto;
  width: 100%;
}

.nav-item img{
  margin-right: 10px;
}

#home{
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-color: var(--background-color);
  padding-top:6rem ;
  height: 80vh;
  color: var(--text-color);

}

h1{
  font-size: 55px;
  font-weight: 600;
}
#home h3{
  font-size: 24px;
  font-weight: 500;
}

#home img{
  display: none;
}

h2{
  font-size: 40px;
  font-weight: 600;
}

#home2{
  height: 62vh;
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 5vh; 
  margin-bottom: 5vh; 
}

#home2 p{
  font-size: 20px;
}

/* -------------------- carrusel ------------------------*/
#carrousel-home{
  margin-top: 1em;
  position: relative;
}
@media(max-width:482px){
  #carrousel-home{
    margin-top: 5em;
  }
}
@media(max-width:399px){
  #carrousel-home{
    margin-top: 8em;
  }
}
@media(max-width:330px){
  #carrousel-home{
    margin-top: 10em;
  }
}
.scroller {
  width: 100%;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: 300px;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 30s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}
.carrusel-button{
  border: none;
  background-color: transparent;
  position: absolute;
  font-size: 40px;
  font-weight: 100;
  opacity: 0.5;
}
#left-button{
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#right-button{
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* -------------------- contacto ------------------------*/
.contact{
  /* background-color: blue; */
  margin-bottom: 10vh;
}


.contact li a{
  text-decoration: underline transparent;
  color: var(--white);

}
.contact li a:hover{
  text-decoration:underline;  
  transition: text-decoration 0.2s ease-in-out, color 0.3s ease-in-out;
}


.rightContact{
  background-color:var(--darkBlue);
  border-radius: 1rem;
  min-height: 30rem;
  margin: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  width: auto;

}

.leftContact{
  display: grid;
  align-items: center;
  justify-items: center;
  background-color:var(--white);
  border-radius: 1rem;
  min-height: 30rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.leftContact input{
  width: 100%;
  margin: 0 0 1em 0;
  border-right:0px;
  border: 0px, 0px, 2px, 0px;
  border-left: 0px;
  border-top: 0px;
  border-color: rgba(0, 0, 0, 0.267);
}
@media(min-width:768px){
  #input-4{
    margin-bottom:0;
  }
  #boton2{
    margin-top:-1em;
  }
}
@media(min-width:992px){
  .leftContact input{
    margin: 0 0 0 0;
  }
  #input-1, #input-2{
    margin-bottom: 1em;
  }
  #boton2{
    margin-top: auto;
  }
}

.leftContact textarea {
  width: 100%;
  margin: 0 0 0 0;
}

.contact h2{
  font-weight: bold;
}
.contact .title_container{
  margin-left: 25px;
}

label{
  color: var(--darkBlue);
}
ul{
  list-style-type: none;
}


/*--------- footer ----------*/

#footer{
  min-height: 60vh;
  background-color: var(--darkBlue);
  color: white;
  display: grid;
  place-items: center;
}

#footer #rowTop .col{
  display: flex;
  justify-content: space-around;
}

#footer img{
margin-bottom: 10px;
}

#footer .col ul{
  line-height:  30.885px;
  list-style: none;
}
#footer li a{
  text-decoration: underline transparent;
  color: var(--white);

}
#footer li a:hover{
  text-decoration:underline;  
  transition: text-decoration 0.2s ease-in-out, color 0.3s ease-in-out;
}

#rowTop .col div{
  text-align: start;
  max-height: 300px ;
  width: 415px;
}

/* Boton WPP */

#message svg{
  position: absolute;
  position: fixed;
  top: 75%;
  left: 90%;
}


#modalTamaño{
  max-width: 80%;
}





@media (max-width: 991px) {
  #home{
      background: var(--background-color) !important;
      padding-top:6rem ;
      height: auto !important;
  }
  #home img{
      width: 100%;
      display: block;
  }

  #home2{
    padding-top: 5vh;
    padding-bottom: 2vh;
    height: auto;
    text-align: start;
  }
  #footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: auto;
  }
  #footer img{
    margin-bottom: 30px;
  }
  #footer .col li{
    margin-left: -30px;
  }
  #footer .redes{
    margin-bottom: 30px;
  }

  #message svg{
    position: absolute;
    position: fixed;
    top: 80%;
    left: 70%;
    z-index: 1000 !important;
  }
  
  #modalTamaño{
    max-width: 100%;
  }
  
  
}

@media (max-width: 358px) {
  #home h1{

    font-size: 40px;
    
  }

  #contactContainer{
    font-size: 12px;
  }
  
  
}