/* POOL CATALOG */

.container-cards{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 20px;
  }
  .piletas{
    width: 100%;
    height: max-content;
    position: relative;
    margin: 20px 0;
    padding: 0;    
    background: none;
    box-shadow: 5px 5px 20px rgba(0,0,0);
    overflow: hidden;
  }
  /* p{
    visibility: hidden;
    opacity: 0;
  } */
  .piletas img{
    transition: .4s;
  }
  .intro{
    color: white;
    position: absolute;
    bottom: 1em;
    backdrop-filter: blur(1px);
    width: 100%;
    padding: 5px;
    text-align: center;
    height: 75px;
    padding: 20px 5px 10px 5px;
    transition: .4s ease-in-out;
  }
  .piletas:hover{
    cursor: pointer;
  }
  .piletas:hover .intro{
    height: 150px;
    backdrop-filter: blur(5px);
  }
  .piletas:hover p{
    visibility: visible;
    opacity: 1;
  }
  .piletas:hover img{
    transform: scale(1.1) rotate(1deg);
  }

  
  




/* POOL DETAILS */

#Portada{
    width: auto;
    height: auto;
}
#contenedor-portada{
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Estilo de la barra de desplazamiento */
#contenedor-portada::-webkit-scrollbar {
    width: 2px; /* Ancho de la barra de desplazamiento */
}

/* Estilo del "pulgar" o "scroll thumb" */
#contenedor-portada::-webkit-scrollbar-thumb {
    background-color: #D4F1F4; /* Color del pulgar */
    border-radius: 6px; /* Bordes redondeados del pulgar */
}

/* Estilo de la barra de desplazamiento al pasar el mouse sobre ella */
#contenedor-portada::-webkit-scrollbar-thumb:hover {
    background-color: #05445E; /* Cambiar color al pasar el mouse */
}

/* Estilo del fondo de la barra de desplazamiento */
#contenedor-portada::-webkit-scrollbar-track {
    background-color:none; /* Color del fondo de la barra de desplazamiento */
}

/* Estilo de la esquina entre la barra de desplazamiento y el pulgar */
#contenedor-portada::-webkit-scrollbar-corner {
    background-color: none /* Color de la esquina */
}

.carrusel{
    height: max-content;
    overflow: hidden;
    margin-top: 10px;
}
.lista-img{
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(9, 1fr);
    overflow-x: auto;
}
.lista-img::-webkit-scrollbar{
    display: none;
}
.imagen-item{
    /* height: 80px; */
    width: auto;
    object-fit: cover;   
    max-height: 20vh;
}
.slider{
    position: relative;
}
.slide-button{
    position: absolute;
    top: 40%;
    height: 10px;
    width: 10px;
    color: #fff;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    transform: translateY(-50%);
}

#prev-slide{
    left: 0px;
    display: none;
}
#next-slide{
    right: 20px;
}
#descripcion{
    font-weight: 500;
    font-size: 14px;
}

/* Imagenes descriptivas */

.piscina-description{
    margin-top: 5rem;
}
.piscina-description .row div{
    display: grid;
    align-items: center;
    margin: 2em 0;
    text-align: center;
}
.piscina-description img{
    width: 80%;
    height: auto;
    margin: 0 auto;
}



@media(max-width:1112px){
    .intro h4{
        font-size: 24px;
    }
    .intro p{
        font-size: 12px;
    }

  }
  @media(max-width:857px){
    .container-cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 0 20px;
    }
  }
  @media(max-width:571px){
    .container-cards{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 0 5px;
    }
  }
  
  @media(max-width:768px){
    #Portada{
        height: auto ;
        width: 100vw;
    } 
}