/* POOL CATALOG */

.container-cards{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 20px;
  }
  .piletas{
    width: 100%;
    height: max-content;
    position: relative;
    margin: 20px 0;
    padding: 0;    
    background: none;
    box-shadow: 5px 5px 20px rgba(0,0,0);
    overflow: hidden;
  }
  /* p{
    visibility: hidden;
    opacity: 0;
  } */
  .piletas img{
    transition: .4s;
  }
  .intro{
    color: white;
    position: absolute;
    bottom: 1em;
    backdrop-filter: blur(1px);
    width: 100%;
    padding: 5px;
    text-align: center;
    height: 75px;
    padding: 20px 5px 10px 5px;
    transition: .4s ease-in-out;
  }
  .piletas:hover{
    cursor: pointer;
  }
  .piletas:hover .intro{
    height: 150px;
    backdrop-filter: blur(5px);
  }
  .piletas:hover p{
    visibility: visible;
    opacity: 1;
  }
  .piletas:hover img{
    transform: scale(1.1) rotate(1deg);
  }

  
  




/* POOL DETAILS */
#contenedor-portada {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color:rgb(2, 10, 53);
}
@media(max-width:600px){
  #contenedor-portada{
    max-height: 65vh;
  }
}



/* Ancho y color de la barra de desplazamiento */
#contenedor-portada::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

#contenedor-portada::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 6px;
}

/* Estilo cuando se pasa el mouse sobre la barra de desplazamiento */
#contenedor-portada::-webkit-scrollbar-thumb:hover {
  background-color: #e10c0c;
}

/* Estilo del fondo de la barra de desplazamiento */
#contenedor-portada::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* Estilo de las esquinas de la barra de desplazamiento */
#contenedor-portada::-webkit-scrollbar-corner {
  background-color: #eee;
}


.carrusel{
    height: max-content;
    overflow: hidden;
    margin-top: 10px;
}
.lista-img{
    display: grid;
    gap: 18px;
    overflow-x: auto;
}

/* Ancho y color de la barra de desplazamiento */
.lista-img::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.lista-img::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 6px;
}

/* Estilo cuando se pasa el mouse sobre la barra de desplazamiento */
.lista-img::-webkit-scrollbar-thumb:hover {
  background-color: #e10c0c;
}

/* Estilo del fondo de la barra de desplazamiento */
.lista-imga::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* Estilo de las esquinas de la barra de desplazamiento */
.lista-img::-webkit-scrollbar-corner {
  background-color: #eee;
}

.imagen-item{
    /* height: 80px; */
    width: auto;
    object-fit: cover;   
    max-height: 20vh;
}
.slider{
    position: relative;
}
.slide-button{
    position: absolute;
    top: 40%;
    height: 10px;
    width: 10px;
    color: #fff;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    transform: translateY(-50%);
}

#prev-slide{
    left: 0px;
    display: none;
}
#next-slide{
    right: 20px;
}
#descripcion{
    font-weight: 500;
    font-size: 14px;
    margin-top: 2.5em;
    white-space:pre-line;
}
/* -----------Iconos parrafos----------- */
.iconos-p {
  height: 22px;
  width: auto;
}
.icono-container {
  display: inline-flex;
  margin: 0 5px;
  cursor: pointer; 
}

.def-iconos {
  font-weight: 500;
  font-size: 14px;
  transform: scaleX(0);
  width: 0;
  overflow: hidden;
  display: inline-flex;
  margin: 0 0 0 0.5em;
  transform-origin: left;
  animation-fill-mode: forwards;
}

.icono-container.clicked .def-iconos {
  animation: aparicion 0.3s linear;
  animation-fill-mode: forwards;
}

@keyframes aparicion {
  0% {
      transform: scaleX(0);
  }
  33% {
      transform: scaleX(0.25);
      width: 3em;
  }
  66% {
      transform: scaleX(0.5);
      width: 5em;
  }
  100% {
      transform: scaleX(1);
      width: max-content;
  }
}
/* Imagenes descriptivas */

.piscina-description{
    margin-top: 5rem;
}
.piscina-description .row div{
    display: grid;
    align-items: center;
    margin: 2em 0;
    text-align: center;
}
.piscina-description img{
    width: 80%;
    height: auto;
    margin: 0 auto;
}



@media(max-width:1112px){
    .intro h4{
        font-size: 24px;
    }
    .intro p{
        font-size: 12px;
    }

  }
  @media(max-width:857px){
    .container-cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 0 20px;
    }
  }
  @media(max-width:571px){
    .container-cards{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 0 5px;
    }
  }
  
  @media(max-width:768px){
    #Portada{
        height: auto ;
        width: 100vw;
    } 
}